html{
	scroll-behavior: smooth;
	width: 100%;
}
body{
	font-family: 'comic sans ms',serif;
	text-align: center;
	margin: 10px 0px;
	background: linear-gradient(45deg,lightsalmon,lightgreen)
}
h1{
	font-family: 'castellar',sans-serif;
	font-size: 45px;
	font-weight: bolder;
	text-shadow: 0 0 10px black;
}
h2{
	background:linear-gradient(45deg,black,darkred,black);
	width: 50%;
	color: white;
	margin: auto;
	padding:15px;
	border-radius: 60% 60% 0% 0%;
	border-bottom:5px solid white;
	scroll-behavior: smooth;
}
img{
	width: 200px;
	height: 150px;
	border-radius: 20px;
	box-shadow: 0 0 10px black;
}

table{
	width: 100%;
}
img.main{
	width:450px; 
	height:270px;
}